@model TimetableApp.Web.Models.ClassroomTypeViewModel
@{ ViewBag.Title = ""; }

<h3>Are you sure you want to <strong>delete this classroom type</strong>?</h3>

<div class="alert alert-secondary" role="alert">
    <p><strong>@Html.LabelFor(e => e.СlassroomTypeName): </strong>@Model.СlassroomTypeName</p>
</div>
<div>
    @Html.ActionLink("Delete", "ConfirmDelete", "ClassroomType", new { id = Model.ClassroomTypeID, }, new { @class = "btn btn-outline-danger" })
</div>
<br />
<div>
    <a asp-action="Index">Назад</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
