@model TimetableApp.Web.Models.TimetableViewModel
@{
    ViewData["Title"] = "Создание";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <select asp-for="Day" asp-items="ViewBag.Day"></select>
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonID" class="control-label"></label>
                <input asp-for="LessonID" class="form-control" />
                <span asp-validation-for="LessonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discipline" class="control-label"></label>
                <input asp-for="Discipline" class="form-control" />
                <span asp-validation-for="Discipline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityType" class="control-label"></label>
                <input asp-for="ActivityType" class="form-control" />
                <span asp-validation-for="ActivityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher" class="control-label"></label>
                <input asp-for="Teacher" class="form-control" />
                <span asp-validation-for="Teacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classroom" class="control-label"></label>
                <input asp-for="Classroom" class="form-control" />
                <span asp-validation-for="Classroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

