@model IEnumerable<TimetableApp.Web.Models.BuildingViewModel>
@{
    ViewData["Title"] = "Index";
}
<body style=" background-color: #E6F0FA;">
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div>
                    <div>
                        <a asp-controller="Building" asp-action="Create" class="btn btn-outline-primary">
                            <span>Добавить запись</span>
                        </a>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.BuildingName)
                        </th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(model => item.BuildingName)
                            </td>
                            <td>
                                <a asp-action="Update" asp-controller="Building" asp-route-id="@item.BuildingID" class="editLabel btn btn-outline-primary">Редактировать</a>
                                <a asp-action="Delete" asp-controller="Building" asp-route-id="@item.BuildingID" class="deleteLabel btn btn-outline-danger">Удалить</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

