<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Timetable</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-5 justify-content-center sticky-top" style="background-color: #E6F0FA; height: 80px ";  >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container" >             
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Timetable</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                        <ul class="navbar-nav flex-grow-1 pull-sm-right w-100">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Timetable" asp-action="Index">Расписание</a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Classroom" asp-action="Index">Аудитории</a>
                               
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bell" asp-action="Index">Расписание звонков</a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Discipline" asp-action="Index">Учебные дисциплины</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="Index">Группы</a>
                                
                            </li>
                            <li class="nav-item dropdown ">                              
                                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown link
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="nav-link text-dark" asp-area="" asp-controller="Faculty" asp-action="Index">Факультеты</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Index">Преподаватели</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ActivityType" asp-action="Index">Виды занятий</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Day" asp-action="Index">Учебные дни</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ClassroomType" asp-action="Index">Типы аудиторий</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Building" asp-action="Index">Корпуса</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Semester" asp-action="Index">Семестры</a>
                                </div>
                            </li>
                        </ul>
                    </div>
            </div>              
        </nav> 
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Timetable - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
