@model TimetableApp.Web.Models.CreateClassroomViewModels
@{
    ViewData["Title"] = "Создание";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClassroomViewModel.ClassroomNumber" class="control-label"></label>
                <input asp-for="ClassroomViewModel.ClassroomNumber" class="form-control" />
                <span asp-validation-for="ClassroomViewModel.ClassroomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassroomViewModel.Building" class="control-label"></label>
                @Html.DropDownListFor(m => m.SelectedBuildingIds, new SelectList(Model.Buildings, "BuildingID", "BuildingName"))
                <span asp-validation-for="ClassroomViewModel.Building" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassroomViewModel.NumberOfSeats" class="control-label"></label>
                <input asp-for="ClassroomViewModel.NumberOfSeats" class="form-control" />
                <span asp-validation-for="ClassroomViewModel.NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassroomViewModel.ClassroomTypeID" class="control-label"></label>
                @Html.DropDownListFor(m => m.SelectedClassroomTypeIds, new SelectList(Model.ClassroomTypes, "ClassroomTypeID", "СlassroomTypeName"))
                <span asp-validation-for="ClassroomViewModel.ClassroomTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
