@{
    ViewData["Title"] = "Home Page";
}
<body style=" background-color: #E6F0FA;">
    <div class="container" style="margin-top: 150px;">
        <form>
         
                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <button class="w-40 p-3 m-2 btn btn-outline-info" style="background-color: aliceblue; "
                            asp-action="TeacherTimetable">
                        Расписание преподавателей
                    </button>
                    <button class="w-40 p-3 m-2 btn btn-outline-info" style="background-color: aliceblue; "
                            asp-action="GroupTimetable">
                        Расписание учебных групп
                    </button>
                </div>
        </form>
    </div>
</body>

