@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top: 150px;">
    <form>
        <div class="col-sm-8" style="margin-left: auto; margin-right: auto;">
            <button class="w-25 p-1 m-1" style="background-color: lightblue; border-radius: 10px;"
                    asp-action="TeacherTimetable">
                Расписание преподавателей
            </button>
        </div>
        <div class="col-sm-8" style="margin-left: auto; margin-right: auto;">
            <button class="w-25 p-1 m-1" style="background-color: lightblue; border-radius: 10px;"
                    asp-action="ClassroomTimetable">
                Расписание аудиторий
            </button>
        </div>
        <div class="col-sm-8" style="margin-left: auto; margin-right: auto;">
            <button class="w-25 p-1 m-1" style="background-color: lightblue; border-radius: 10px;"
                    asp-action="GroupTimetable">
                Расписание учебных групп
            </button>
        </div>
    </form>
</div>

